@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 50px;
  --sidebar-width: 260px;
  --chatinput-height: 120px;
}

* {
  color: white;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-primary;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#33487B];
}

.button {
  @apply bg-secondary w-40 py-1 rounded-2xl hover:bg-blue-600 hover:border-blue-600 transition-colors;
}

.button:disabled {
  cursor: not-allowed;
  @apply opacity-40;
}

.button:disabled:hover {
  @apply bg-secondary;
}

.appear {
  animation: main-appear 200ms cubic-bezier(.55, .75, .50, 1);
}

@keyframes main-appear {
  from {
    scale: 0.98;
    opacity: 0.9;
  } to {
    scale: 1;
    opacity: 1;
  }
}