.logo {
  animation: logo-appear 1s ease-in-out;
}

@keyframes logo-appear {
  from {
    transform: translateY(-100px);
    opacity: 0.5;
  } to {
    transform: translateY(0px);
    opacity: 1;
  }
}
