.chat-history-box {
  @apply flex items-center gap-2 text-sm rounded-lg bg-primary py-4 px-2 cursor-pointer hover:bg-secondary transition-colors;
}

.chat-history-box p {
  max-width: 184px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  z-index: 1;
  overflow-y: auto;
}

.sidebar {
  transform: translateX(0);
  transition: transform 200ms cubic-bezier(.55, .75, .50, 1);
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
}