.sidebar {
  height: 100vh;
  transition: transform 200ms cubic-bezier(.55, .75, .50, 1);
  overflow-y: auto;
  transform: translateX(0);
  z-index: 2;
}

.sidebar.toggled {
  height: calc(100vh - 50px);
  transform: translateX(0);
  transition: transform 200ms cubic-bezier(.55, .75, .50, 1);
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    height: calc(100vh - var(--navbar-height));
  }
}