.chat-container {
  height: calc(100vh - var(--navbar-height)); /* calc(100vh - 50px) Viewport - Navbar height */
  width: calc(100% - var(--sidebar-width)); /* Full width - aside */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .chat-container {
    width: 100%;
  }
}

.chatinput-container {
  height: var(--chatinput-height);
}
