.chat-container {
  height: 100vh; /* calc(100vh - 50px) Viewport - Navbar height */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatlog-container {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  height: calc(100% - 130px); /* Entire height - chat input height */
  overflow-y: auto;
}

.chatlog-container::-webkit-scrollbar {
  width: 5px;
}

.chatlog-container::-webkit-scrollbar-track {
  @apply bg-primary;
  border-radius: 5px;
}

.chatlog-container::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 5px;
}

.chatlog-container::-webkit-scrollbar-thumb:hover {
  @apply bg-[#33487B];
}
