.chat-container {
  height: calc(100vh - 70px);
}

.chatlog-container {
  padding: 20px;
  height: calc(100% - 130px);
  overflow-y: auto;
}

.chatlog-container::-webkit-scrollbar {
  width: 5px;
}

.chatlog-container::-webkit-scrollbar-track {
  @apply bg-primary;
  border-radius: 5px;
}

.chatlog-container::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-radius: 5px;
}

.chatlog-container::-webkit-scrollbar-thumb:hover {
  @apply bg-[#33487B];
}
